.container {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.web_name {
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  margin-top: 4px;
  margin-left: 4px;
}
.image_box {
  height: 150px;
  width: 100%;
  background-color: red;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 1rem;
}
.image_box img {
  height: 100%;
  width: 100%;
}
.user_detail_heading {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  margin-top: 1.5rem;
  text-align: center;
}
.user_info {
  margin-left: 10px;
  margin-top: 20px;
}
.name_icon {
  margin-top: 5px;
}
.email_icon {
  margin-top: 5px;
}
.phone_icon {
  margin-top: 5px;
}
.name_div {
  display: flex;
  margin-top: 1.5rem;
}
.user_name {
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}

.user_email {
  margin-left: 10px;
  color: gray;
}

.user_phone {
  margin-left: 10px;
}
.edit_details_btn {
  height: auto !important;
  color: #000000;
  background-color: transparent !important;
  margin-top: 8px;
  margin-left: 50px;
}
.edit_details_btn:hover {
  background-color: transparent !important;
}
.user_details_img_info {
  width: 100%;
  height: auto;
  display: flex;
}
.user_img_div {
  height: auto;
  width: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.user_img_div img {
  height: 70px;
  width: auto;
  margin: auto;
  padding: auto;
  margin-top: 10px;
  border-radius: 50%;
}
.user_info {
  height: auto;
  width: 75%;
}

.back_arrow {
  margin-top: 25px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.arrow_heading_div {
  display: flex;
  width: 100%;
  height: auto;
}
.back_arrow_div {
  width: 10%;
  height: auto;
}
.heading_name {
  width: 90%;
  height: auto;
}
.dashboard p {
  margin-top: 2rem;
  margin-left: 8px;
  color: gray;
}
.dashboard_details_info {
  height: 200px;
  width: 100%;
  margin-top: 10px;
}
.payment_history_div {
  padding: 4px;
  display: flex;
  text-align: center;
  justify-content: start;
  align-items: center;
  height: auto;
  width: 100%;
}
.payment_icon_div {
  border-radius: 50%;
  background-color: green;
  margin-left: 4px;
  height: 50px;
  width: 50px;
  border: 1px solid green;
}
.payment_history {
  margin-left: 15px;
}
.payment_icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
  padding: 0px;
  margin: 13px;
}
.donation_history_div {
  padding: 4px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: start;
  align-items: center;
  height: auto;
  width: 100%;
}
.donation_icon_div {
  border-radius: 50%;
  background-color: rgb(255, 126, 12);
  margin-left: 4px;
  height: 50px;
  width: 50px;
  border: 1px solid rgb(255, 126, 12);
}
.donation_history {
  margin-left: 15px;
}
.donation_icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
  padding: 0px;
  margin: 13px;
}
.payment_history_forward_icon {
  margin-left: auto;
  margin-right: 22px;
}
.donation_history_forward_icon {
  margin-left: auto;
  margin-right: 22px;
}
